#root {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
}
body {
  font-family: "Roboto Mono";
}
.Navhome {
  font-size: 48px;
}
  .ms-auto {
font-size: 48px;
  }


@keyframes jump {
   0%, 100% {
     transform: translateY(0);
    }
  50% {
    transform: translateY(-10px);
    }
  }
  .Headerlink:hover{
    animation: jump 2s ease
  }

.SkapaKonto {
  margin: 3vh;
}
.orAccount {
  margin-top:3vh ;
}

.productImg {
  margin: 50%;
}

.nav-icon-title {
  font-size: 20px;
  margin-left: 2vh;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 0.75em;
}

.nav-icon-title {
  margin-left: 0.5em;
  font-size: 1em;
}

.custom-div {
  max-width: 95%;
}